Project 4 - AI-Powered Email Reply Assistant/Workflow/AI-Powered Email Reply Assistant.json
{
  "name": "AI-Powered Email Reply Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread"
        }
      },
      "id": "1",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sender",
              "name": "sender",
              "value": "={{$json.from}}",
              "type": "string"
            },
            {
              "id": "subject",
              "name": "subject",
              "value": "={{$json.subject}}",
              "type": "string"
            },
            {
              "id": "email_body",
              "name": "email_body",
              "value": "={{$json.text}}",
              "type": "string"
            }
          ]
        }
      },
      "id": "2",
      "name": "Format Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a professional customer support email assistant.\n\nCreate a professional reply for this customer email.\n\nSubject:\n{{$json.subject}}\n\nEmail:\n{{$json.email_body}}\n\nRules:\n- Be polite\n- Be concise\n- Answer the customer question\n- Ask for clarification if needed\n- Do not mention AI\n\nReturn only the email reply text."
      },
      "id": "3",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "value": "google/gemma-4-26b-a4b-it:free",
          "mode": "list"
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 200,
          "topP": 1
        }
      },
      "id": "4",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        700,
        520
      ],
      "credentials": {
        "openRouterApi": {
          "id": "YOUR_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Format Email Data\"].json.sender}}",
        "subject": "={{\"Re: \" + $node[\"Format Email Data\"].json.subject}}",
        "message": "={{$json.text}}",
        "options": {
          "emailType": "text"
        }
      },
      "id": "5",
      "name": "Send AI Reply Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        980,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Format Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Data": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send AI Reply Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}